/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */


	


.kontejner1 h1 {
	text-align: center;
}

.kontejner1 {
	display: flex;
	flex-direction: column;
	margin: 13%;

	

}

.kontejnery {

}
/* Jarmila kontejner */

.Jarmilakontejner {
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(194, 188, 188);
	border-radius: 13px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 3px rgb(155, 222, 248);
}


.Jarmilakontejner h2 {
	margin: 0;
}


	



/* Jarmila kontejner */

/* Klotylda kontejner */

.Klotyldakontejner {
	border: 1px solid rgb(194, 188, 188);
	border-radius: 13px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	box-shadow: 1px 1px 3px rgb(155, 222, 248);
}


.Klotyldakontejner h2 {
	
	margin: 0;
}





/* Klotylda kontejner */

/* Lucie kontejner */


.Luciekontejner {
	border: 1px solid rgb(194, 188, 188);
	border-radius: 13px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	box-shadow: 1px 1px 3px rgb(155, 222, 248);
}



.Luciekontejner h2 {
	
	margin: 0;
}

.Luciekontejner p {
	text-align: center;
	padding: 10px 30px;
	padding-top: 0;
}


/* Lucie kontejner */

/* Emílie kontejner */

.Emíliekontejner {
	border: 1px solid rgb(194, 188, 188);
	border-radius: 13px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	box-shadow: 1px 1px 3px rgb(155, 222, 248);

}

.foto {
		border-radius: 50%;
		padding: 20px;
		margin-top: 20px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 0px;
		
}


	}
	
.Emíliekontejner p {
		
		padding: 0px 30px;
		padding-top: 0;
}

.texty {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	text-align: center;
}
/* Klotylda kontejner */



@media (min-width: 540px) and (max-width: 960px) {

	.kontejner1 {
		margin: 10px;
	}

	.kontejnery {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		

	}


	.Jarmilakontejner {
		
		display: flex;
		flex-direction: row;
		flex-basis: 45%;
		margin-right: 15px;
	}

	.Klotyldakontejner {
		display: flex;
		flex-direction: row;
		flex-basis: 45%;
		
	}

	.Luciekontejner {
		display: flex;
		flex-direction: row;
		flex-basis: 45%;
		margin-right: 15px;


	}

	.Emíliekontejner {
		display: flex;
		flex-direction: row;
		flex-basis: 45%;
		
	}

	.texty {
	
		text-align: center;
		padding: 0px;
		margin: 10px;
		margin-top: 20px;
	
	
	}

	h2 {
		text-align: center;
	}

	.foto {
		margin: 0px;
		padding: 10px;
			
	}
	}

	@media  (min-width: 960px) {

		
	.kontejnery {
			display: flex;
			flex-direction: row;
		}
		
	.Klotyldakontejner
	 {
		margin-right: 20px;

	 }

	 .Jarmilakontejner
	 {
		margin-right: 20px;
	 }

	 .Luciekontejner
	 {
		margin-right: 20px;
	 }

	.foto {
		margin-left: 50px;
		margin-right: 50px;
	}

	h2 {
		text-align: center;
	}
	.texty {
		text-align: center;

	}
}